node-red-wangfpc.json
[{"id":"6ac85c37.86cd94","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"97cac62f.4ff508","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a70cd2b3.3fa06","type":"serial-port","z":"","serialport":"COM9","serialbaud":"4800","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"a893f03a.35ebb","type":"geofence-manager","z":"","name":"Geofence manager","geofences":{}},{"id":"856eb3df.cdbeb","type":"geofence-manager","z":"","name":"Geofence manager2","geofences":{"727a11e6.dd5e3":{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[116.312256,38.496594],[116.729736,39.181175],[117.597656,39.061849],[117.531738,38.444985],[116.773682,38.177751],[116.312256,38.496594]]]}}}},{"id":"9c2b28b1.e656d8","type":"launchpad","z":"","name":"aa","port":"5555","initanim":true},{"id":"fa08f825.88d288","type":"xmpp-server","z":"","server":"xtpt.e-u.cn","port":"5222","nickname":"wangf"},{"id":"c16fb04d.9f481","type":"worldmap","z":"6ac85c37.86cd94","name":"","lat":"38","lon":"120","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","x":770,"y":220,"wires":[]},{"id":"c32606fa.45cb38","type":"inject","z":"6ac85c37.86cd94","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":200,"wires":[["a9e482ae.e2e9"]]},{"id":"a9e482ae.e2e9","type":"function","z":"6ac85c37.86cd94","name":"Add person to map","func":"var geo = { \"type\": \"FeatureCollection\",\n\"features\": [\n  {\n    \"type\": \"Feature\",\n    \"properties\": {\n      \"color\": \"rgb(0,0,255)\",\n      \"roofColor\": \"rgb(128,128,255)\",\n      \"height\": 20,\n      \"minHeight\": 0\n    },\n    \"geometry\": {\n      \"type\": \"Polygon\",\n      \"coordinates\": [\n        [\n        [117.356221,37.048611],\n        [119.356039,38 + Math.random()],\n        [119.355765,39 + Math.random()],\n        [119.355937,39 + Math.random()],\n        [117.356221,37.048611]\n        ]\n      ]\n    }\n  }\n]\n}\nvar m = {overlay:\"Golf Clubhouse\", geojson:geo, fit:true};\nmsg.payload = {command:{map:m, lat:37.0484, lon:117.3558}};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["c16fb04d.9f481"]]},{"id":"cf043790.be4598","type":"comment","z":"6ac85c37.86cd94","name":"http://(your-server-ip):1880/worldmap  或者 ctrl+shift+md打开地图","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":570,"y":20,"wires":[]},{"id":"ce262b25.8fb818","type":"serial in","z":"6ac85c37.86cd94","name":"","serial":"a70cd2b3.3fa06","x":150,"y":440,"wires":[["bd386d41.de885"]]},{"id":"7d768b72.4f46e4","type":"debug","z":"6ac85c37.86cd94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":100,"wires":[]},{"id":"fe69ea4d.151248","type":"function","z":"6ac85c37.86cd94","name":"","func":"var nmea=global.get(\"nmea\");\nvar data = nmea.parseNmeaSentence(msg.payload);\nmsg.payload=data\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["d2cf5607.08bdb8"]]},{"id":"91a85599.1b9728","type":"debug","z":"6ac85c37.86cd94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":580,"wires":[]},{"id":"4f4ae634.f8af28","type":"change","z":"6ac85c37.86cd94","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"WIND","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":600,"wires":[[]]},{"id":"bd386d41.de885","type":"switch","z":"6ac85c37.86cd94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"$GPRMC","vt":"str"},{"t":"cont","v":"$WIMWD","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":540,"wires":[["fe69ea4d.151248"],["4f4ae634.f8af28"]]},{"id":"727a11e6.dd5e3","type":"geofence","z":"6ac85c37.86cd94","name":"京津冀","manager":"856eb3df.cdbeb","centre":null,"radius":null,"points":[],"geofenceName":null,"fenceID":null,"mode":null,"x":670,"y":400,"wires":[["44ee0072.f5d5"]]},{"id":"ee73dd7e.b6238","type":"function","z":"6ac85c37.86cd94","name":"Add person to map","func":"var line=flow.get('line') || [];\nline.push([msg.payload.lat,msg.payload.lon]);\nif(line.length >1000){\n    line.pop();\n}\nflow.set('line',line);\n\nvar thing = {\n    name:\"Jason Isaacs\", \n    lat:msg.payload.lat, \n    lon:msg.payload.lon,\n    icon:msg.payload.icon,\n    iconColor:msg.payload.iconColor,\n    extrainfo:\"Hello to Jason Isaacs\",\n    line:line\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["c16fb04d.9f481"]]},{"id":"d2cf5607.08bdb8","type":"change","z":"6ac85c37.86cd94","name":"","rules":[{"t":"set","p":"payload.lat","pt":"msg","to":"payload.latitude","tot":"msg"},{"t":"set","p":"payload.lon","pt":"msg","to":"payload.longitude","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"ENOPA-------","tot":"str"},{"t":"set","p":"payload.iconColor","pt":"msg","to":"darkred","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":480,"wires":[["727a11e6.dd5e3","ee73dd7e.b6238"]]},{"id":"44ee0072.f5d5","type":"rbe","z":"6ac85c37.86cd94","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.in","x":790,"y":340,"wires":[["fd12f720.e0e6c8"]]},{"id":"5be6223a.c09e8c","type":"xmpp out","z":"6ac85c37.86cd94","name":"","server":"fa08f825.88d288","to":"8000516@groupchat.xtpt.e-u.cn","join":true,"sendObject":false,"x":1090,"y":320,"wires":[]},{"id":"fd12f720.e0e6c8","type":"function","z":"6ac85c37.86cd94","name":"","func":"var msg2={}\nmsg2.payload = msg.payload.in? \"欢迎你来到\"+msg.payload.name:msg.payload.name+\",欢迎您再来！\"\nreturn msg2;","outputs":1,"noerr":0,"x":910,"y":280,"wires":[["5be6223a.c09e8c"]]},{"id":"c78b7342.5345d","type":"tcp in","z":"6ac85c37.86cd94","name":"","server":"client","host":"192.168.200.24","port":"2222","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":290,"y":100,"wires":[["7d768b72.4f46e4"]]},{"id":"61b21924.e35428","type":"comment","z":"6ac85c37.86cd94","name":"使用gpsfeed+和com0com或者NMEA_Simulator来注入数据","info":"","x":330,"y":300,"wires":[]},{"id":"934d9519.637ab8","type":"comment","z":"6ac85c37.86cd94","name":"手动注入，在地图上绘制多边形","info":"","x":230,"y":160,"wires":[]},{"id":"9aa6ff84.766b1","type":"comment","z":"6ac85c37.86cd94","name":"使用gpsfeed+ 生成数据，用telnet  127.0.0.1  2222看数据","info":"","x":290,"y":60,"wires":[]},{"id":"da4ebba1.a18ed8","type":"udp in","z":"6ac85c37.86cd94","name":"","iface":"","port":"1365","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":450,"y":140,"wires":[["7d768b72.4f46e4"]]}]